.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  padding-bottom: 40px;
  padding-top: 70px;
  position: relative;
  margin-top: 60px;
  &__logo {
    position: absolute;
    width: 230px;
    height: 230px;
    top: -105px;
  }
  &__pattern {
    position: absolute;
    top: -10px;
  }
  &__title {
    margin-bottom: 20px;
    padding-top: 55px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
  }
  &__separator {
    content: '';
    height: 1px;
    background: $separators-lightblue;
  }
  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__arrow {
    height: fit-content;
  }
}