*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: medium;
}

body {
    box-sizing: border-box;
    background: linear-gradient(135deg, $bg-grad-violet, $bg-grad-blue);
}

.hide {
    display: none;
}
