$prim-text-blue: hsl(238, 29%, 16%);
$prim-text-red: hsl(14, 88%, 65%);
$bg-grad-violet: hsl(273, 75%, 66%);
$bg-grad-blue: hsl(240, 73%, 65%);
$sec-text-verydarkblue: hsl(237, 12%, 33%);
$sec-text-darkblue: hsl(240, 6%, 50%);
$separators-lightblue: hsl(240, 5%, 91%);